<h1>Create a new post</h1>
<section>
<form id="new-blogpost">
<input type="text" id="title-input" placeholder="Blog Title">
<textarea id="blog-input"></textarea>
<button>Create</button>
</form>
</section>
<script src="/js/create.js"></script>