<h1>Hello</h1>
<section>
    <h1>{{post.title}}</h1>
    <h2>{{post.description}}</h2>
</section>
<section>
<form id="new-blogpost">
<input type="text" id="title-input" placeholder="Blog Title">
<textarea id="blog-input"></textarea>
<button id="updatebtn">Update</button>
<button id="deletebtn">Delete</button>
</form>
</section>



<script src="/js/edit.js"></script>