<h1>Homepage</h1>
<h1>{{user.email}}</h1>
{{#each userdate}}
    <section class="chirp-box">
    <h1>{{title}}</h1>
    <p> {{description}}</p>
    <h3>Posted by:{{User.email}}</h3>
</section>
{{/each}}